.btn-primary{
    padding: 5px 10px;
    font-weight: bold;
    border: none;
    color: white;
    background: transparent;
}


.modal-body {
  padding: 20px;
  font-family: Arial, sans-serif;
  /* text-align: center; */
}

.modal-body input.inp {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  transition: border 0.3s;
}

.modal-body input.inp:focus {
  border: 1px solid #4a90e2;
}

.modal-body span {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

.modal-body span a {
  color: #4a90e2;
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
}

.modal-body span a:hover {
  text-decoration: underline;
}

.modal-footer {
  padding: 15px;
  text-align: center;
  border-top: 1px solid #eee;
}

.modal-footer .btn {
  background-color: #4a90e2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 15px;
  width: 100%;
  transition: background 0.3s;
}

.modal-footer .btn:hover {
  background-color: #357ABD;
}

#exampleModalLabel{
    text-align: center;
    display: flex;
    color: rgb(4, 72, 4);
}

.logbox {
  display: none;
}
.logbox.active {
  display: block;
}
.logo-inpt{
  border: 1px solid;
}